/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 0;
  overflow: hidden;
}
.section-bg {
  background-color: #d8ccff;
}
.section-title {
  background-color: var(--background-opacity100);
  border-radius: 0.2rem;
  padding: 30px 10px;
  margin-bottom: 25px;
}
.section-title h2 {
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--main-color);
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}

.breadcrumbs {
  margin: 70px 30px 15px 30px;
  text-align: center;
  background: var(--main-color);
  padding: 30px 0;
  color: #fff;
  border-radius: 0.3rem;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0;
}
