:root {
  --main-color: #45289f;
  --main-color-hover: #3a1d91;
  --background-opacity80: rgba(174 146 255 / 80%);
  --background-opacity50: rgba(174 146 255 / 50%);
  --background-opacity100: rgba(174 146 255 / 100%);
  --background-link: rgba(216, 202, 255, 0.8);
  --color-link: #181818;
  color-scheme: only light;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  background-color: #e7e7e7;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
#main-courses .section-title h2 i,
.more-btn,
.more-btn:hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.cursor,
.more-btn {
  display: inline-block;
}
#about .breadcrumbs,
#why-us {
  background-image: url(../img/about.jpg);
}
#hero p,
.courses #courses-filters li,
.navbar a,
.navbar a:focus,
.section-title h2,
.section-title p {
  font-family: Poppins, sans-serif;
}
#about .about,
#honor .courses,
#main-courses .courses,
#youtube .courses {
  margin-top: -145px;
}
.more-btn {
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px;
  color: #fff;
  border-radius: 50px;
  transition: 0.4s ease-in-out;
  font-weight: 900;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.back-to-top,
.features .icon-box:hover h3 a,
.more-btn:hover,
.section-title h2 {
  color: var(--main-color);
}
.more-btn:hover {
  transition: 0.4s ease-in-out;
  background: #fff;
}
.counts .count-box,
.features .icon-box h3,
.features .icon-box h3:before,
.features .icon-box i,
.features .icon-box:hover i,
.more-btn:hover i,
.why-us .icon-boxes .icon-box,
.why-us .icon-boxes .icon-box i {
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.more-btn:hover i {
  transition: 0.4s ease-in-out;
  margin-right: 23px;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #a081ff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
#hero,
#why-us,
.breadcrumbs {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#hero,
#hero p,
.hero-title,
.navbar li,
.navbar ul {
  width: 100%;
}
.back-to-top i.bi.bi-caret-up-fill {
  font-size: 25px;
}
.back-to-top:hover,
.courses #courses-filters li.filter-active,
.courses #courses-filters li:hover {
  background: var(--main-color);
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ad92ff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--main-color);
  border-top-color: #ad92ff;
  border-bottom-color: #ad92ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: 1s linear infinite animate-preloader;
  animation: 1s linear infinite animate-preloader;
}
@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
    -o-transition-delay: 0 !important;
    transition-delay: 0 !important;
  }
}
section {
  padding: 50px 0;
  overflow: hidden;
}
.section-bg {
  background-color: #d8ccff;
}
.section-title {
  background-color: rgb(174 146 255 / 90%);
  border-radius: 0.2rem;
  padding: 30px 10px;
  margin-bottom: 25px;
}
.section-title h2 {
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 15px;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--main-color);
  margin: 4px 10px;
}
#hero,
.courses #courses-filters li,
.courses .btn-watch-video,
.features .icon-box h3,
.navbar a,
.navbar a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
}
.section-title p {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #37423b;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70vh;
}
#header {
  transition: 0.5s ease-in-out;
  z-index: 997;
  padding: 10px 0;
  box-shadow: 0 0 15px rgb(59 55 66 / 30%);
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
#header a.nav-link.scrollto.px-3.py-2.active {
  color: #45289f;
}
#header a.nav-link.scrollto.px-3.py-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header a.nav-link.scrollto.px-3.py-2 i {
  font-size: 20px;
  margin-left: 5px;
  color: #000;
}
.get-book-btn,
.navbar a,
.navbar a:focus {
  white-space: nowrap;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
#header i.bi.bi-list {
  font-size: 24px;
}
.get-book-btn {
  background: var(--main-color);
  border-radius: 50px;
  padding: 8px 25px;
  transition: 0.3s;
  font-size: 14px;
}
.get-book-btn:hover {
  background: #3a1d91;
  -webkit-box-shadow: 0 0 8px rgba(58, 29, 145, 0.596);
  box-shadow: 0 0 8px rgba(58, 29, 145, 0.596);
  color: #fff;
  padding-left: 35px;
}
#header .offcanvas-header {
  background-color: #ae92ff;
  padding: 10px 0;
}
.navbar a,
.navbar a:focus {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
  padding: 2px 4px;
  border-radius: 0.275rem;
  color: var(--color-link);
}
#footer .footer-top .footer-links ul li:hover,
#footer-header .footer-top .footer-links ul li:hover,
.navbar .active,
.navbar .active:focus,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul a:hover,
.navbar .dropdown ul li:hover > a,
.navbar a:hover,
.navbar li:hover > a,
#header a.nav-link.scrollto.px-3.py-2:hover i,
#header a.nav-link.scrollto.px-3.py-2.active i {
  color: var(--main-color);
  background-color: var(--background-link);
}
.navbar .dropdown ul {
  background: var(--background-opacity100);
  -webkit-box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.about .more-btn,
.why-us .content {
  background: var(--main-color);
}
.navbar .dropdown ul a {
  color: var(--color-link);
  padding: 10px 20px;
}
#hero {
  background-image: url(../img/bg-main.jpg);
  z-index: 2;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}
#hero::before {
  content: "";
  background: rgb(5 13 24 / 50%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.hero-title {
  margin: 0 25px;
}
#hero h1 {
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  text-align: center;
}
#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--main-color);
}
#hero i {
  color: #c7c7c7;
  position: absolute;
  bottom: -45px;
  -webkit-animation: 1s linear 2s infinite alternate chevron-down;
  animation: 1s linear 2s infinite alternate chevron-down;
}
@-webkit-keyframes chevron-down {
  from {
    bottom: -45px;
  }
  to {
    bottom: 0;
  }
}
@keyframes chevron-down {
  from {
    bottom: -45px;
  }
  to {
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .get-book-btn {
    padding: 6px 18px;
  }
  #hero h1 {
    font-size: 22px;
    line-height: 36px;
  }
  #hero p {
    font-size: 18px;
    line-height: 24px;
  }
}
.cursor {
  width: 3px;
  margin-left: 4px;
  background-color: #fff;
  border-bottom: none !important;
}
.cursor.blink {
  -webkit-animation: 0.8s ease-in-out infinite blink;
  animation: 0.8s ease-in-out infinite blink;
}
@-webkit-keyframes blink {
  0%,
  100% {
    background-color: #fff;
  }
  40%,
  50% {
    background-color: transparent;
  }
}
@keyframes blink {
  0%,
  100% {
    background-color: #fff;
  }
  40%,
  50% {
    background-color: transparent;
  }
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .more-btn:hover {
  color: #6a53b2;
  background-color: #fff;
}
.about .content ul i {
  padding-right: 4px;
  font-size: 22px;
  color: var(--main-color);
}
.about .content ul li.pb-3 {
  font-size: 16px;
  font-weight: 800;
}
#why-us {
  width: 100%;
  height: 100%;
}
.why-us .content {
  padding: 20px;
  border-radius: 0.375rem;
  color: #fff;
}
.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.why-us .content p {
  margin-bottom: 30px;
}
.why-us .icon-boxes .icon-box {
  text-align: center;
  background: rgb(222 211 255 / 80%);
  padding: 25px 15px;
  width: 100%;
  border-radius: 0.375rem;
  transition: 0.4s ease-in-out;
}
.why-us .icon-boxes .icon-box:hover {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.why-us .icon-boxes .icon-box:hover i {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-box-shadow: 0 0 2px var(--main-color);
  box-shadow: 0 0 2px var(--main-color);
}
.why-us .icon-boxes .icon-box i {
  font-size: 32px;
  padding: 5px 30px;
  color: var(--main-color);
  background: var(--background-opacity50);
  border-radius: 2rem;
  transition: 0.4s ease-in-out;
}
.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 30px;
}
.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #555;
}
.counts .counters span {
  font-size: 48px;
  display: block;
  color: var(--main-color);
  font-weight: 700;
}
.counts .counters p {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
.counts .count-box {
  padding: 5px 0;
  transition: 0.4s ease-in-out;
  border: 2px solid #f2d7fd;
  border-radius: 0.375rem;
  background: rgba(255, 247, 255, 0.8);
}
.count-box:hover,
.features .icon-box:hover {
  border-color: var(--main-color);
}
.count-box:hover {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.features .icon-box {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #f2d7fd;
  background: rgba(255, 247, 255, 0.8);
}
.features .icon-box i {
  margin-right: 3px;
  margin-left: 10px;
  transition: 0.4s ease-in-out;
  font-size: 25px;
}
.features .icon-box:hover i {
  color: #421fae !important;
  transition: 0.4s ease-in-out;
}
.features .icon-box h3 {
  font-weight: 700;
  line-height: 1;
  font-size: 16px;
  transition: 0.4s ease-in-out;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.features .icon-box h3:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: var(--main-color);
  bottom: -5px;
  transition: 0.4s ease-in-out;
}
.courses .course-content h3:before,
.courses .course-content:hover .btn-watch-video {
  background-color: var(--background-opacity100);
}
.features .icon-box:hover h3:before {
  width: 100%;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.features .icon-box h3 a {
  color: var(--color-link);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#main-courses .breadcrumbs {
  background-image: url(../img/events-2.jpg);
}
#youtube .breadcrumbs {
  background-image: url(../img/learning-french.jpg);
}
#honor .breadcrumbs {
  background-image: url(../img/honor.jpg);
}
#main-courses .section-title:hover h2 i {
  color: red;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.courses .course-content {
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 0.375rem;
}
.courses .course-content h3 {
  font-size: 20px;
  position: relative;
  color: #fff;
}
.courses .course-content h3:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -6px;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.courses .course-content:hover h3:before {
  width: 60%;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.courses .course-content p {
  font-size: 14px;
  color: #d2d2d2;
  margin-bottom: 25px;
}
.courses .course-video {
  padding-top: 15px;
  border-top: 1px solid var(--background-opacity100);
}
.courses .course-video .course-video-rank {
  color: #d2d2d2;
}
.courses .btn-watch-video {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  border-radius: 0.3rem;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  padding: 5px 8px;
}
.courses .btn-watch-video i {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 5px;
  font-size: 25px;
}
.courses .btn-watch-video:hover {
  margin-right: 5px;
}
.courses #courses-filters li {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 8px 20px;
  border-radius: 1rem;
}
#honor .card-text {
  margin-bottom: 10px;
  border-bottom: 2px solid #cecece;
  padding-bottom: 5px;
}
#honor .card-body li {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  background-color: #ebdeff;
}
#footer .socialmedia,
#footer-header .socialmedia {
  font-size: 14px;
  background: #636363;
}
#footer-header .footer-top {
  background: #c5c5c5;
}
#footer .footer-top .footer-contact p,
#footer-header .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  color: #777;
}
#footer .footer-top h4,
#footer-header .footer-top h4 {
  font-size: 16px;
  font-weight: 700;
  color: #444;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 0;
}
#footer .footer-top .footer-links ul i,
#footer-header .footer-top .footer-links ul i {
  color: var(--main-color);
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li,
#footer-header .footer-top .footer-links ul li {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 0.275rem;
  margin: 4px 0;
  -webkit-border-radius: 0.275rem;
  -moz-border-radius: 0.275rem;
  -ms-border-radius: 0.275rem;
  -o-border-radius: 0.275rem;
}
#footer .footer-top .footer-links ul li a:before,
#footer-header .footer-top .footer-links ul li a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: var(--main-color);
  bottom: 6px;
  right: 6px;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
}
#footer .footer-top .footer-links ul li:hover a:before,
#footer-header .footer-top .footer-links ul li:hover a:before {
  width: 80%;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
}
#footer .footer-top .footer-links ul a,
#footer-header .footer-top .footer-links ul a {
  color: #353535;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  width: 100%;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
}
#footer .footer-top .footer-links ul a:hover,
#footer-header .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #000;
}
#footer .text-black.socialmedia {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#footer .footer-contact {
  margin: 20px 25px 15px 15px;
}
#footer .credits,
#footer-header .credits {
  padding-top: 5px;
  font-size: 13px;
}
#footer .credits a,
#footer-header .credits a {
  color: purple;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
}
#footer .credits a:hover,
#footer-header .credits a:hover {
  color: #fff;
  text-decoration: underline;
}
#footer .social-links a,
#footer-header .social-links a,
.footer-nav-box a {
  font-size: 18px;
  display: inline-block;
  background: var(--background-opacity50);
  color: #252525;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 0.3rem;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
#footer .social-links a:hover,
#footer-header .social-links a:hover,
.footer-nav-box a:hover {
  background: var(--main-color);
  color: #fff;
  text-decoration: none;
}
.footer-nav {
  background-color: #b9a3fa;
  width: 100%;
  left: 0;
  bottom: 0;
  display: none;
}
.footer-nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}
@media (max-width: 576px) {
  .back-to-top {
    bottom: 60px;
  }
  .footer-nav {
    display: block;
  }
}
